@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: rgb(102, 98, 98);
  --shadow-color: #292929;
  --text-color: #000000;
  --logo-color: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #03071e, #370617);
}
.card {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 220px;
  background: var(--main-color);
  border-radius: 25px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.3);
}
.card p {
  text-align: center;
  font-size: 50px;
  width: 350px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  border: 0;
  border-radius: 10px;
}
#btc-logo {
  position: absolute;
  align-items: center;
  transform: translateX(-50%);
  z-index: 4;
  left: 50%;
  top: -80px;
  font-size: 180px;
}

.btc-backgound {
  position: absolute;
  align-items: center;
  transform: translateX(-50%);
  z-index: 3;
  left: 50%;
  top: -60px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.graf {
  position: absolute;
  z-index: 2;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 0;
}

#btc-price {
  z-index: 3;
  letter-spacing: 2px;
  position: absolute;
  color: var(--text-color);
  text-shadow: 0px 10px 20px rgba(102, 98, 98, 1);
}

#menu-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 30px;
  height: 40px;
  width: 40px;
  color: rgba(255, 255, 255, 0.274);
  display: block;
}
#menu-icon:hover {
  color: rgb(255, 255, 255);
}
.menu {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 20%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 1%;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(59, 59, 59);
  box-shadow: 0 0 10px black;
  display: none;
}
.menu.active {
  display: block;
}
.menu h2 {
  font-size: 25px;
}
.menu h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
}
.menu label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
.menu select {
  width: 100%;
  height: 30px;
  font-size: 15px;
  margin-top: 2px;
}
#save {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 40px;
  height: 45px;
  width: 45px;
  color: rgb(255, 255, 255);
  display: block;
}
#save:hover {
  color: rgba(255, 255, 255, 0.637);
}
.supportMe {
  position: relative;
  display: block;
  margin-top: 5px;
  height: 200px;

  background-image: url(https://raw.githubusercontent.com/cv0x/Bitcoin-Real-Time-Price-Tracker/main/btcsupport.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/*  colors 03071e 370617 6a040f 9d0208 d00000 e85d04 f48c06 faa307*/
